<div class="modal-header">
    <button type="button" class="close" data-dismiss="popup">&times;</button>
    <h4 class="modal-title">
Finder
    </h4>
</div>


<div class="modal-body">
    <form class="form-elements" name="searchform" role="form"
        data-request="onSearchScart"
        data-request-loading="#loading_input">

        <!--.layout-row-->
        <?= $this->makePartial('preloader') ?>

        <!--    data-request-update="mytime: '#myDiv'"-->
        <!-- Drop down -->
        <div class="form-group dropdown-field span-left">
            <label>Field</label>
            <?php if (isset($finderconfig->Finder['searchfilters']['fields'])) {
                echo $this->makePartial('form/options', ['options' => $finderconfig->Finder['searchfilters']['fields'],'selected' => $searchtype]);
            } ?>
        </div>

        <div class="form-group span-right">
            <label>Search</label>
            <input type="text" name="criteria" value="<?= $searchvalue ?>" class="form-control form-control-lg search-required" />
        </div>

        <br>
        <button type="submit" class="btn btn-primary onsave">Find</button>

        <?php if ($archiveActive): ?>
            &nbsp;&nbsp;<input type="checkbox" <?= $searcharchive ?> id="archiveActive" name="archiveActive" value="1"  />
            <label for="archiveActive">Archive database</label>
        <?php endif ?>

    </form>

    <script type="text/javascript">
        $('.onsave').click(function(event) {
            var valid=true;
            $('.search-required').each(function() {
                if ($(this).val()=='') {
                    valid=false;
                }
            });
            if (!valid) {
                $.oc.flashMsg({
                    'text': 'Search value not filled',
                    'class': 'error',
                    'interval': 3
                });
                event.stopPropagation();
            }
            return valid;
        });
    </script>

    <div style="height:50px;"></div>

    <div class="finderResults">

    </div>
</div>


<div class="modal-footer">

</div>






