subject = "Scheduler ANALYZE job finished"
==
<p>Hi,</p>

<p>
    Scheduler scrape report:<br />
    <br />

    {% if job_inputs %}

        {% for job_input in job_inputs %}
            input {{ job_input.filenumber }}<br />
            _url: {{ job_input.url }} <br />
            _status: {{ job_input.status }}. <br />
            _number of notification(s): {{ job_input.notcnt }}.<br />
            {% if job_input.warning %}
            <strong>{{ job_input.warning }}</strong><br />
            {% endif %}
            <br />
        {% endfor %}

        <br />
    {% endif %}

    {% if job_nots %}

        {% for job_not in job_nots %}
            notification (src): {{ job_not.src }} <br />
            _status: {{ job_not.status }}. <br />
            {% if job_not.warning %}
            <strong>{{ job_not.warning }}</strong><br />
            {% endif %}
            <br />
        {% endfor %}

    {% endif %}


</p>

<p>
    Regards<br />
    ERT Scheduler
</p>
