subject = "Scheduler IMPORT MAILBOX job report"
==
<p>Hi,</p>

<p>
    <strong>Report import mailbox</strong><br />
    <br />

    {% if reports %}
        {% for report in reports %}
        Process message '{{ report.subject }}' from '{{ report.from }}' received at '{{ report.arrived }}' <br />
            {% for logline in report.loglines %}
                - {{ logline }} <br />
            {% endfor %}
        <br />
        {% endfor %}
    {% endif %}

    <br />
    Message(s) processed and removed from mailbox.<br />
</p>

<p>
    Regards<br />
    ERT Scheduler
</p>
