subject = "Abuse contact (emailaddress) filled by analyzer"
==
<p>Hi,</p>

<p><strong>
    The ERT analyzer has found new Abusecontact(s).
</strong></p>

<p>
    {% if new_abuses %}
        {% for new_abuse in new_abuses %}
            Abuse owner: <strong>{{ new_abuse.abuseowner }} </strong><br />
            Abuse email set on: <strong>{{ new_abuse.abusecontact }}</strong><br />
            Abuse country: <strong>{{ new_abuse.abusecountry }}</strong><br />
            <br />
        {% endfor %}
    {% endif %}

</p>

<p>
    Please verify if correct. The abuse email (if filled) will be used when a NTD is send.
</p>

<p>
    Regards<br />
    ERT Scheduler
</p>
