subject = "Abuse contact (emailaddress) CHANGED"
==
<p>Hi,</p>

<p><strong>
    The ERT analyzer has found WHOIS information (type: {{whois_type}}) with an different abuse email address.
</strong></p>

<p>
    Abuse owner: {{ abuseowner }} (#{{filenumber}})<br />
    Current abusecontact email: {{ abusecontact }}<br />
    New abuse email found in WhoIs information: <strong>{{ whoisabusecontact }}</strong><br />
</p>

<p>
    This is for your information only. The new abuse email will NOT be used. Manual change this if needed.
</p>

<p>
    Regards<br />
    ERT Scheduler
</p>
