subject = "Scheduler ANALYZE job report"
==
<p>Hi,</p>

<p>
    Scheduler scrape report:<br />
    <br />

    {% if job_inputs %}
        (number of report records: {{ records_count }}) <br />
        <br />
        {% for job_input in job_inputs %}
            Input {{ job_input.filenumber }}<br />
            - url: {{ job_input.url }} <br />
            - status: {{ job_input.status }}. <br />
            - number of item(s): {{ job_input.notcnt }}.<br />
            {% if job_input.warning %}
            <strong>{{ job_input.warning }}</strong><br />
            {% endif %}
            <br />
        {% endfor %}
        <br />
    {% endif %}

</p>

<p>
    Regards<br />
    SCART Scheduler
</p>
